    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("index","home","", "active")">
                <a href="@Url.Action("index", "home", new { area = "" })" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li class="@Html.RouteIf("AssignPageToRole", "Security", "Admin", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-key"></i> <span class="menu-item-parent"> Template Manage</span></a>
                <ul>
                    <li class="@Html.RouteIf("CategoryList", "Template", "SuperAdmin", "active")"><a href="@Url.Action("CategoryList", "Template", new { area = "SuperAdmin" })">Category List</a></li>
                    <li class="@Html.RouteIf("Index", "Template", "SuperAdmin", "active")"><a href="@Url.Action("Index", "Template", new { area = "SuperAdmin" })">Template List</a></li>
                    <li class="@Html.RouteIf("AddTemplate", "Template", "SuperAdmin", "active")"><a href="@Url.Action("AddTemplate", "Template", new { area = "SuperAdmin" })">Add New Template</a></li>
                </ul>
            </li>
            <li class="@Html.RouteIf("Index", "AgentPanel", "Agent", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Agents</span></a>
                <ul>
                    <li class="@Html.RouteIf("Index", "AgentPanel", "Agent", "active")">
                        <a href="@Url.Action("Index", "AgentPanel", new { area = "Agent" })"> <span class="menu-item-parent">DashBoard</span></a>
                    </li>
                    <li class="@Html.RouteIf("MySubscription", "AgentPanel", "Agent", "active")">
                        <a href="@Url.Action("MySubscription", "AgentPanel", new { area = "Agent" })"> <span class="menu-item-parent">Subscription</span></a>
                    </li>
                    <li class="@Html.RouteIf("MyTemplate", "AgentPanel", "Agent", "active")">
                        <a href="@Url.Action("MyTemplate", "AgentPanel", new { area = "Agent" })"> <span class="menu-item-parent">My Templates</span></a>
                    </li>
                    <li class="@Html.RouteIf("MyPayment", "AgentPanel", "Agent", "active")">
                        <a href="@Url.Action("MyPayment", "AgentPanel", new { area = "Agent" })"> <span class="menu-item-parent">Payments Info</span></a>
                    </li>
                    <li class="@Html.RouteIf("MyFreeTrail", "AgentPanel", "Agent", "active")">
                        <a href="@Url.Action("MyFreeTrail", "AgentPanel", new { area = "Agent" })"> <span class="menu-item-parent">Free Trails Info</span></a>
                    </li>
                    <li class="@Html.RouteIf("Subscribe", "AgentPanel", "Agent", "active")">
                        <a href="@Url.Action("Subscribe", "AgentPanel", new { area = "Agent" })"> <span class="menu-item-parent">Subscribe Template</span></a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("Index", "CreateProperty", "Admin", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-user-md"></i> <span class="menu-item-parent">Subscription & Payments</span></a>
                <ul>
                    <li class="@Html.RouteIf("AddPlan", "PlanCtrl", "Master", "active")">
                        <a href="@Url.Action("AddPlan", "PlanCtrl", new { area = "Master" })"> <span class="menu-item-parent">Search Subscription</span></a>
                    </li>
                    <li class="@Html.RouteIf("AddPlan", "PlanCtrl", "Master", "active")">
                        <a href="@Url.Action("AddPlan", "PlanCtrl", new { area = "Master" })"> <span class="menu-item-parent">Search Pending Subscription</span></a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("NewSale", "Property", "Sale", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent"> Free Trails</span></a>
                <ul>
                    <li class="@Html.RouteIf("NewSale", "Property", "Sale", "active")">
                        <a href="@Url.Action("NewSale", "Property", new { area = "Sale", Id = 0 })">FreeTrails</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("Index", "Payment", "Sale", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-rupee"></i> <span class="menu-item-parent"> Settings</span></a>
                <ul>
                    <li class="@Html.RouteIf("Index", "Payment", "Sale", "active")"><a href="@Url.Action("Index", "Payment", new { area = "Sale" })">Change Password</a></li>
                </ul>
            </li>
            <li class="@Html.RouteIf("Index", "Security", "", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart"></i> <span class="menu-item-parent"> Reports</span></a>
                <ul>
                    <li class="@Html.RouteIf("flot", "Security", "Auth", "active")"><a href="@Url.Action("DemandLetterView", "Report", new { area = "BI" })" ti title="Demand Letter View">Demand Letter View</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->